@import "../../styles/variables.scss";
.mHeader-btns{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button{
        background-color: black;
        color: #ffff;
        padding: 3px 15px ;
        border-radius: 5px;
        margin-left: 10px;
    }
    select{
        padding: 3px 15px !important;
        color: $sider-color;
        margin-top:5px ;

    }
}
.imgox{
    margin-left: 10px;
}
.managment-main{
    margin: 10px 0;
    position: sticky !important;
    top: 60px;
}
.edit-delete{
    button{
        margin: -10px 5px;
        border: 0;
    }
}
.managementTables{
    margin: 20px 0;
}
.shead{
    position: sticky !important;
    top: 50px;
}