.inp{
    max-width: 250px;
    padding: 5px 0;
    margin-left: 20px;
    margin-bottom: -5px;
}
.monitor-item{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
    margin: 15px 0;
}