@import "../../styles/variables.scss";
.maps-box{
    border-radius: 16px;
    padding-top: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.flex ul{
    margin: 0 0;
    padding: 0 0;
    li{
        list-style: none;
        display: inline-block;
        margin: 0 5px;
        img{width: 12px;}
    }
}

.dragitem{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    .itemslist{
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: calc(50% - 5px);
        margin-right: 5px;
        margin-bottom: 5px;
        p{text-align: center;
        font-family: "poppins";
    font-size: 10px;
    margin-bottom: 0;
    
    color:$sider-color;}
        border-radius: 5px;
        box-sizing: border-box;
    
    }
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p{font-family: "poppins";
    font-size: 16px;
font-weight: 600;
color: $sider-color;
margin: 2px;}
}
.dragbox{
    padding: 10px ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 16px;
    margin-top: 5px;
    h3{
font-family:"inter";
font-weight: 400;
font-size: 20px;
color: $sider-color;
text-align: center;
margin: 0 0;
    }
}
.empty-box{
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
   margin-top: 5px;
   border: 1px solid gray;

    h3{
        font-family: "poppins";
        color: $sider-color;
        font-size: 25px;
        font-weight: 400;
        align-items: center;
        text-align: center;
        line-height: 200px;
        
    }
}
.imgbox{
    width: 100%;
    height: 100vh;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0%;
    left: 0;
    z-index: 10000;
    
}
.close-btns2{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    // background-color: aliceblue;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    i{
        font-size: 30px;
        color: #fff;
    }
}
.secondbox{
    position: relative;
    width: 60%;
    margin: 0 auto;
    top: 10%;
    text-align: center;
   
}
.bottom{
    position: absolute;
    bottom: 2%;
    width: 100%;
    // text-align: center;
    ul{margin: 0 auto   ;
    padding: 0 0;
}
li{list-style: none;
display: inline-flex;
margin: 0 5px;
// width: 30px;
height: 30px;
overflow: hidden;
}
p{float: right;
margin-right: 10px;
color: #ffff;}
}
.search{width: 70%;
margin: 0 auto;
// background-color: #3A3A3A;
padding: 10px 0;}

.searchbox{
    background-color: #ffff;
    border-radius: 12px;
    border: 1px solid #C2C2C2;
    padding: 5px;
    position: relative;
    flex: 1 !important;
    button{
        background-color: transparent;
        border: 0px;
        position: absolute;
        right: 10px;
        i{
            color: $sider-color;
            font-size: 20px;
        }
    }
    input{
        border: 0;
        width: 100%;
        
    }
    input:focus-visible {
        outline-offset: 0px !important;
    }
    input:focus-visible {
        outline: -webkit-focus-ring-color auto 0px !important;
    }
}
.filterbox{
    margin-left: 5px;
    button{
        background-color: transparent;
        border: 0px;
        i{
            color: $sider-color;
            font-size: 20px;
        }
    }
}
.flex{ p{
    font-size: 16px;
    color: $sider-color;
    font-family: "Inter";
    margin-bottom: 5px;
    span {
font-weight: 700;
color: #3A3A3A;
}
}
}
.click{
    cursor: pointer;
}
.serbox{
    flex: 1;
}

.staticdata{
    background-color: white;
    position: sticky;
    top: 0px;
}
.sidesoprations{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 80vh ;
    border-radius: 10px  !important;
    border: 1px solid gray; 
    overflow: scroll;
    padding: 0 0 !important;
    // background-color: red;
}
.secondlayout{
    padding: 10px 10px 0 10px ;
   
}

.dropbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

width: 100%;
   
    align-items: center;
 p{
    margin: 0 0;
    span{
        margin-right:10px ;
    }
 }
}
.drop{
    background-color: #F3F3F3;
    img{
        width: 18px;
    }
    
}
.dropbtns{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    p{
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.droplaout{
     background-color: #F3F3F3; 
     border-radius:10px ;
     padding: 5px 10px;
     margin: 10px 0;
}
.zoneul{
    margin: 0 0;
    padding: 0 0;
    li{
        list-style: none;
        img{
            width: 18px;
            margin-right: 5px;
        }
    }
}
.greens{
    color: #007D32;
font-size: 17px ;
font-family: "poppins";
}
.grays{
    color: #AEAEAE;
    font-size: 17px ;
    font-family: "poppins";
}
.reds{
    color: #EE6161;
    font-size: 17px ;
    font-family: "poppins";
}
.animate {
    transition: max-height 0.3s ease-in-out; /* You can adjust the duration and easing */
    overflow: hidden;
    max-height: 0;
  }
  
 
  .animate-open {
    max-height: 500px; /* Set a value that is greater than the expected height of your dropdown content */
  }
  .mapbox{
    position: relative;
    display: flex;
    justify-content: center;
    .searches{
        position: absolute;
        max-width: 300px;
        margin: 0 auto;
        top: 10px;
        
    }
  }
  .optionss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 ;
    align-items: center;
    button{
        width: 100%;
        background-color: transparent
        ;
        border: 0;
        padding: 0 0;
        margin: 0 0;
        color: gray;
    }
  
  }
  .detailing-box{   
    padding:  0 0;
    h6{
        font-size: 11px;
        font-family: "poppins";
    }
    h5{
        font-size: "poppins";
        font-size: 14px;
        margin: 10px 0s;
    }
  }
  .sperator{
    width: 100%;
    height: 1px;
    background-color:gray ;
  }
  .tr{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid gray;
   
  }
  .itemsvid{
    padding: 0px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2px 2px;
    border-radius: 5px;
    // border: 3px solid gray;
  }
  .itemsvid{
    text-align: center;
    p{
        font-size: 14px;
        font-family: "poppins";
        color: #131313;
        margin: 0 0;
        span{
            float: right;
            margin-right: 5px;
        }
    }
  }
  .iconsvid{
    img{
        width: 15px;
        height: 15px;
        margin: 0 2px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .functions{
    text-align: right;
    padding: 10px;
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    background-color: white;
    z-index: 10;
    .ficon{
        margin: 0 3px;
        color: gray;
        transition: all ease-in-out 0.3s;
    }
    .ficon:hover{
        color: blue;
    }
  }
  .activebtn{
color:black !important ;
  }
  .results{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0 ;
    button{
        width: 100%;
        padding: 5px;
        border: 0;
        background-color: transparent;
        font-family: "poppins";
        font-size: 20px;
    }
    .active2{
        background-color: #F3F3F3;
    }
  }
  .optable{
    td{
        font-size: 12px;
        font-family: "poppins";
    }
    th{
        font-size: 12px;
        font-family: "poppins";
        font-weight: 600;
    }
  }
  .further{
    margin: 10px 0;
  }
  .live-messages{
margin: 20px 0;
h5{
    font-size: 22px;
    font-family: "poppins";
    color: gray;
}
    ul{
        margin: 0 0;
        padding: 0 0;
    }
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #9E9E9E;
        justify-content: space-around;
        padding: 5px 0;
        border-radius: 10px;
        position: relative;
        button{
            position: absolute;
            color: gray;
            background-color: white;
            right: 20px;
            bottom: -12px;
            font-size: 18px;
            border: 0;
            z-index: 1;

        }
        h6{
            font-size: 18px;
            font-family: "poppins";
        }
        p{
            margin:  0 0;
            font-size: 16px;
            font-family: "poppins";
            color: #AAAAAA;
            span{
                color: #000000;
            }
        }
    }
  }
  .border{
    width: 2px;
    height: 20px;
    background-color: #C2C2C2;
}
.round2{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    text-align: center;
    line-height: 48px;
    background-color: #D9D9D9;
}
.sidesoprations::-webkit-scrollbar
{
    width: 0.05em !important;
    display: none;
}

/* Hide the scrollbar track */
.sidesoprations::-webkit-scrollbar-track
 {
    background: transparent !important;
    display: none;
    
}

/* Style the scrollbar thumb */
.sidesoprations::-webkit-scrollbar-thumb{
    background-color: transparent !important;
    outline: none !important;
    display: none !important;
}
.fstlay{
    position: relative;
    width: 100%;
    height: 100%;

}
.iconsvid{
    button{
        background-color: transparent;
        border: 0;
        padding: 0 0;
    }
}
.addbtn{
    float: right;
    button{
        background-color: #000000;
        color: white;
        border-radius: 8px;
        padding: 5px 15px;
        border: 0;
        margin-bottom: 10px;

    }
}
.listlayout{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list2layout{
    width: 90%;
    margin: auto 0;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    .closebtn{
        position: absolute;
        top:20px;
        right: 20px;
    }

}
.vidlayout{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    margin: 5px 0;
    h6{
        margin-bottom: 0;
    }
}
.searchvid{
    max-width: 300px;
    margin: 0 auto;
}