
@import"./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.main{
  font-family: "Inter",sans-serif;
  background-color:$main-bg
}
.containers{
  display: flex;
  margin-top: 60px ;
}
.menuContainer{
  width: 256px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  // position: fixed;
  


}
.contentContainer{
  width: 100%;
  padding:10px 20px ;

}
.space{
  padding: 30px 0;
}
.logs {
  max-width: 100px;
}
 .css-honxw6 {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 12px !important;
  height: 12px !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.container{
  width: 100%;
}.css-jn69v9 {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 12px !important;
  height: 12px !important;
}.app::-webkit-scrollbar {
  width: 0 !important;
}

/* Optional: Prevent background painting when scrollbar is hidden */
.app::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

/* Hide scrollbar for Firefox */
.app {
  scrollbar-width: thin !important;
  scrollbar-color: transparent transparent !important;
}
