
@import"./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.main{
  font-family: "Inter",sans-serif;
  background-color:$main-bg
}
.containers{
  display: flex;
  margin-top: 60px ;
}
.menuContainer{
  width: 256px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}
.contentContainer{
  width: 100%;
  padding:10px 20px ;

}
.space{
  padding: 30px 0;
}
.logs {
  max-width: 100px;
}
 .css-honxw6 {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 12px !important;
  height: 12px !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.container{
  width: 100%;
  max-width: unset !important;
 
}
.css-jn69v9 {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 12px !important;
  height: 12px !important;


}
.css-x12vwi::-webkit-scrollbar
{
    width: 0.5em !important; /* Set the width of the scrollbar */
}

/* Hide the scrollbar track */
.css-x12vwi::-webkit-scrollbar-track
 {
    background: transparent !important;
}

/* Style the scrollbar thumb */
.css-x12vwi::-webkit-scrollbar-thumb{
    background-color: transparent !important;
    outline: none !important;
}
  

.contentcontainer {
  width: calc(100% - 250px) !important; 
  margin-left: 256px !important;
  height: 100vh; 
  overflow: scroll;
  right: 0 !important;
  
}
  .menuContainer {
    width: 250px;
   
    position: fixed !important;

    height: 100vh; 
    z-index: 1;
    top: 0;
  }
  .contentcontainer.expanded {
    width: 100% !important; 
    margin-left: 70px !important;
    padding: 0 7px;
    height: 100vh !important; 
    overflow: scroll;
.stick{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #ffff;
  position: sticky;
top: 0;
z-index:100;
margin-left: 5px !important;
  
}
  }
  .listfirstbg{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0  ;
 overflow: hidden;
    position: fixed;
    z-index: 200000000000000001 !important;
    align-items: center;
    justify-content: center;
    display: flex;
    // overflow: scroll;
    padding: 30px;
}
.listsecondlayout{
  width: 70%;
height: 100vh;
  background-color: white;
left: 0;
z-index: 2000;
overflow: scroll;
padding: 20px 0;
  border-radius: 10px;
  // position: fixed;
  .closebtn{
    position: absolute;
    top:0px;
    right: 20px;
    // z-index: 10;
    button{
        color: black;
    }
}

  }
  .listsecondlayout::-webkit-scrollbar
{
    width: 0.5em !important; /* Set the width of the scrollbar */
}

/* Hide the scrollbar track */
.listsecondlayout::-webkit-scrollbar-track
 {
    background: transparent !important;
}

/* Style the scrollbar thumb */
.listsecondlayout::-webkit-scrollbar-thumb{
    background-color: transparent !important;
    outline: none !important;
}

.loader{
  text-align: center;

}
  .loading{
padding: 5px 0;
   width: 100%;
   background-color: black;
    // height: 500px;
    // left: 30%;
    // top: 10%;
    text-align: center;
  
    // background-color: rgba(0, 0, 0, 0.1);
    // margin: 0 auto  !important;
 
    border-radius: 10px;
  }
  .spinner-border{
    color: white;
   height: 1rem !important;
   width: 1rem !important;
  }
  .inofobox{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1000;
    left: 0;
    padding: 30px;
  }
  .layoutinfo{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
  }
  .infoclose{
   
    button{
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
    }
  }
  .infodetails{
    p{
      margin-bottom:5px ;
      // text-align: center;
     
      span{
        // float: right;
       font-weight: 600;
        
      }
    }
  }
  .notavil{
    background-color: black;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    
  }
  .infoimgBox{
    img{
      max-width: 100%;
      width: 100%;
      height: 250px !important;
    }
    video{
      max-width: 100%;
      height: 250px;
    }
  }
  .iconsapp{
    color: #686868; font-size: 20px;
  }
  .deletlayout{
    position: absolute;
    background-color: white;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    top:10%;
    left: 50%;
    // border: 1px solid black;
    // border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 100;
    padding: 0;
    button{
      float: right;
      margin: 20px 5px 0 5px;
      background-color: black;
      border: 0;
      color: white;
      padding: 5px 10px;
     border-radius: 10px;
   
    }
    .cancel{
background-color: transparent !important;
color: blue !important;
    }
  }
  .headerdelte{
    background-color: black;
    height: 30px;
    button{
      float: right;
      border: 0;
      background-color: transparent;
      padding: 0 !important;
      color: white;
      margin: 0 10px !important
      ;
    }
  }
  .Headerdetails{
    padding: 10px;


  }
  .sboxs{
    max-width: 300px;
  }
  .ink{
    overflow: hidden;
    position: fixed;
    top: 0;
    // background-color: red !important;
    // z-index: 1000;
    padding: 0;
    video{
      width: 0px !important;
      height: 0px !important;
    }
  }
  .red-toast {
  background-color: red !important; // Set the background color to red
  color: white; // Set the text color to white
}