.navbar-brand img{width: 64px;}
nav{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: 5px;

}
.nav-link i{
    font-size: 24px;   
}
.logout{
    width: 24px;
    height: 24px;
}