


  .icons-side {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  .icons-sid {
    width: 16px;
    height: 16px;
    // margin-right: 5px;
  }
  .css-honxw6 {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    width: 12px !important;
    height: 12px !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

// .{background-color:#c0bcbc}