.imgList{
    margin: 10px 0;
    img{
        max-width: 100%;
        border-radius: 8px;
    }
    video{
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}
.headings {
    h6{
        font-family: "poppins";
        font-weight: 400;
        font-size: 16px;
    }
}
.mediacontainer{
    padding: 20px 0;
}