.inp-box{
    width: 250px;
    // margin:0 auto;
    padding: 10px 0;
}
.marker {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
  }
  .mapvew{
    background-color: aqua;
  }
  .maptype{
    margin: 10px 0;
    float: right
    ;
select{
  border-radius: 10px;
  padding: 5px 10px;
}
  }